* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(53, 82, 66, 0.5), rgba(47, 80, 63, 0.6)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color: #ddd;
  font-weight: 300;
  margin-bottom: 30px;
  animation: moveToLeft 2s;
}

.banner span {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.banner p {
  font-size: 50px;
  font-weight: 300;
  color: #eee;
  margin-bottom: 20px;
  animation: moveToRight 2s;
}

.banner button {
  width: 180px;
  padding: 12px;
  margin: 20px;
  border: 2px solid #eee;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-left {
  background-color: #eee;
  color: #444;
  animation: animateBtn 1s 1.5s backwards;
}

.btn-right {
  background-color: transparent;
  color: #eee;
  animation: animateBtn 1s 2.3s backwards;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 10rem 0;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 6rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: #c29525;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  width: 100%;
}

.card {
  width: 25rem;
  height: 35rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
  
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eee;
}

.card-info h3 {
  font-family: "Muli", serif;
  font-size: 2rem;
  font-weight: 500;
  color: #a52a2a;
  margin-bottom: 1rem;
}

.card-info p {
  font-family: "Baloo da 2", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: #c29525;
  border: none;
  font-family: "Baloo Da 2", serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}


.contacto {
  width: 100%;
  height: 100vh;
  background-color: #051321;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cardss {
  width: 35rem;
  margin-top: 10rem;
  
  
}

.card-bio {
  background-color: #45a564;
  padding: 3rem 3rem 8rem 3rem;
  display: flex;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  z-index: 100;
}

.img-wrappers {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}

.img-wrappers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.person-info {
  width: 60%;
  font-family: "Dosis", serif;
  color: #fff;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.person-info h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.person-info p {
  font-size: 1.8rem;
}

.card-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 10rem;
  width: 20rem;
  height: 6rem;
  background-color: #2b303a;
  color: #fff;
  border-radius: 5rem;
  border: none;
  font-family: "Dosis", serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.change .card-btn {
  width: 6rem;
  right: 3rem;
  bottom: -3rem;
  border-radius: 50%;
}

.card-btn-contact {
  transition: all 0.5s 0.1s;
}

.card-btn-contact,
.card-btn i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change .card-btn-contact {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.card-btn i {
  opacity: 0;
  visibility: hidden;
}

.change .card-btn i {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.card-contact {
  background-color: #2d814d;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.change .card-contact {
  transform: translateY(0);
}

.card-contact h4 {
  font-family: "Dosis", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s;
}

.change .card-contact h4 {
  transform: scale(1);
}

.card-social {
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.email {
  transition: all 0.5s 0.3s;
}

.fb {
  transition: all 0.5s 0.5s;
}

.linkedin {
  transition: all 0.5s 0.7s;
}

.change .card-social {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.email .icon-wrapper {
  background-color: #dd4b39;
}

.fb .icon-wrapper {
  background-color: #3b5998;
}

.linkedin .icon-wrapper {
  background-color: #007bb6;
}

.icon-wrapper i {
  font-size: 2rem;
  color: #fff;
}

.contact-details h4 {
  font-family: "Dosis", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.email h4 {
  color: #dd4b39;
}

.fb h4 {
  color: #3b5998;
}

.linkedin h4 {
  color: #007bb6;
}

.contact-details p {
  font-family: "Dosis", serif;
  font-size: 1.4rem;
  color: #444;
  letter-spacing: 0.1rem;
}

.card-social span {
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
  color: #999;
}

.footer {
  background-color: #262626;
  color: #ddd;
  font-size: 1rem;
  text-align: center;
}
